label{
    font-size: auto;
}

body {
    background-image: url("https://cdn.myonlinestore.eu/93d313eb-6be1-11e9-a722-44a8421b9960/image/cache/full/b065bf28c793e0322ecfe7e63e3ed492996d2568.jpg?20240926081309");
        background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 100vh; 
    margin: 0; 
    }

    