* {
    size: 65%;
    margin: 0;
    padding: 0;
    color: blue;
}

nav {
    width: 100vw;
    max-width: 110%;
    height: 25vh;
    background: white;
    font-size: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
    
}

#login {
    width: 25%;
    justify-content: center;
}

#logo {
    width: 25%;
    justify-content: center;
}

